//Desktop view
$default-width: 1200px;
// Mobile view
$phone-width: 800px;

*{
    margin: 0;
	padding: 0;
}
body{
	font-family: $font-default;
	font-weight: 300;
	font-size: 14px;
	background: $color-background;
	color: $color-gray01;
	@media screen and (max-width: $default-width){
		margin: 0 20px;
	}
	@media screen and (max-width: $phone-width){
		font-size: 13px;
	}
}
h1{
	font-size: 1.8em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.3em;
}
a{
	text-decoration: none;
	outline-width: 0;
	color: $color-main;
}
.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.clearfix{
	@include pie-clearfix;
}
.inner{
	width: $default-width;
	margin: 0 auto;
	@media screen and (max-width: $default-width){
		width: 100%;
	}
}

// img utilities
@mixin shadow-box($border: #fff .5em solid, $shadow: rgba(#000, .15) 0 1px 4px, $border-radius: .3em) {
  @include border-radius($border-radius);
  @include box-shadow($shadow);
  @include box-sizing(border-box);
  border: $border;
}
.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: .8em; }
}
.flex-content { max-width: 100%; height: auto; }

img {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box; 
}

.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;

  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}
