<span class="credit"></span>
<ul>
<li><a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">CC BY-NC 3.0</a></li>
<li>2012-{{ site.time | date: "%Y" }} - <a href="mailto:blog@pacbard.tk">{{ site.author }}</a></li>
<li>Powered by <a href="http://octopress.org">Octopress</a> and <a href="https://www.cloudflare.com/">CloudFlare</a></li>
<li>Hosted by <a href="http://www.heroku.com/">Heroku</a></li>
<li>Theme inspired by <a href="http://shashankmehta.in/archive/2012/greyshade.html">Greyshade</a> and <a href="http://zespia.tw/Octopress-Theme-Slash/">Slash</a></li>
</ul>
</span>